# Root environment example for Denim Hacksagon
# Use this file as a reference. For project-specific env examples, see:
# - web/backend/.env.example
# - web/frontend/.env.example
# - rag_model/pathway/.env.example

VITE_API_URL=http://localhost:3001/api/v1

DB_USER=
DB_HOST=
DB_DATABASE=
DB_PASSWORD=
DB_PORT=
JWT_SECRET=
PATHWAY_URL=http://localhost:8000

JIRA_DOMAIN=
JIRA_EMAIL=
JIRA_API_TOKEN=
JIRA_PROJECT_KEY=

HR_GMAIL_APP_PASSWORD=
HR_GMAIL_USER=

HUGGINGFACE_API_KEY="hf..."
GOOGLE_APPLICATION_CREDENTIALS="credentials.json"
DRIVE_ID="1Cy..."
